### 나의 Fire 목표
 - 40살에 경제적 자유 달성, 100살까지 60년 동안의 필요한 돈을 계산한다  
 - 인플레이션은 연3%로 가정한다
 1. 월생활비 250
 2. 연 비즈니스석 비행기값 2회 (1200)
 3. 월 호캉스 2회 (40)
 4. 월 술파티 2회 (40)
 5. 주 택시값 (3)
 6. 월세 300에 오피스텔 혹은 20억 실거주 부동산

In [1]:
basic_per_year = 250*12
airplane_per_year = 300*2*2
hotel_per_year = 40 *12
party_per_year  = 40 * 12
taxi_per_year = 3*52
rent=300*12

In [2]:
#tot_per_year = basic_per_year + airplane_per_year + hotel_per_year + party_per_year + taxi_per_year + rent
tot_per_year = basic_per_year + airplane_per_year + hotel_per_year + party_per_year + taxi_per_year
tot_per_year

5316

10년후 물가를 적용해서 시작 금액을 계산

In [3]:
start_year = tot_per_year * (1+0.03)**10
start_year

7144.259472593354

40세 부터 100세까지 누적 필요금액 계산

In [4]:
sum = 0
for idx,i in enumerate(range(61)):
  if idx==0:
    sum_ =start_year
  else:
    sum_ += start_year * (1+0.03)
  print(idx+40,sum_)

40 7144.259472593354
41 14502.846729364508
42 21861.433986135664
43 29220.02124290682
44 36578.608499677975
45 43937.19575644913
46 51295.78301322029
47 58654.37026999144
48 66012.95752676259
49 73371.54478353374
50 80730.13204030489
51 88088.71929707604
52 95447.30655384719
53 102805.89381061833
54 110164.48106738948
55 117523.06832416063
56 124881.65558093178
57 132240.24283770294
58 139598.8300944741
59 146957.41735124527
60 154316.00460801643
61 161674.5918647876
62 169033.17912155876
63 176391.76637832992
64 183750.35363510108
65 191108.94089187225
66 198467.5281486434
67 205826.11540541457
68 213184.70266218574
69 220543.2899189569
70 227901.87717572806
71 235260.46443249923
72 242619.0516892704
73 249977.63894604155
74 257336.22620281272
75 264694.81345958385
76 272053.400716355
77 279411.9879731262
78 286770.57522989734
79 294129.1624866685
80 301487.74974343966
81 308846.3370002108
82 316204.924256982
83 323563.51151375315
84 330922.0987705243
85 338280.6860272955
86 345639.27328406664
87 352997.8605408378
88 360356.44779760897
89 367715.03505438013
90 375073.6223111513
91 382432.20956792246
92 389790.7968246936
93 397149.3840814648
94 404507.97133823595
95 411866.5585950071
96 419225.1458517783
97 426583.73310854944
98 433942.3203653206
99 441300.90762209176
100 448659.4948788629

아파트에20억 사용, 월세X 일경우

In [5]:
448659 + 200000*(1+0.03)**10

717442.2758688245

실거주용 주택 소유X, 월세300으로 평생 살기

In [6]:
752492

752492

### todo: 연 수익률 N% 로 투자자금을 굴렸을 경우, 40세에 얼마로 시작하면 가능한지 해볼것