### 나의 Fire 목표
 - 40살에 경제적 자유 달성, 100살까지 60년 동안의 필요한 돈을 계산한다  
 - 인플레이션은 연3%로 가정한다
 1. 월생활비 250
 2. 연 비즈니스석 비행기값 2회 (1200)
 3. 월 호캉스 2회 (40)
 4. 월 술파티 2회 (40)
 5. 주 택시값 (3)
 6. 월세 300에 오피스텔 혹은 20억 실거주 부동산

In [17]:
basic_per_year = 250*12
airplane_per_year = 300*2*2
hotel_per_year = 40 *12
party_per_year  = 40 * 12
taxi_per_year = 3*52
rent=300*12

In [18]:
#tot_per_year = basic_per_year + airplane_per_year + hotel_per_year + party_per_year + taxi_per_year + rent
tot_per_year = basic_per_year + airplane_per_year + hotel_per_year + party_per_year + taxi_per_year
tot_per_year

5316

10년후 물가를 적용해서 시작 금액을 계산

In [19]:
start_year = tot_per_year * (1+0.03)**10
start_year

7144.259472593354

### 년 7144만 의 cash flow 를 창출하는 자산구조를 만들면 된다!
 - 그러기위한 첫해 필요금액은 178600.0
 - 년 생활비가 인플레되는걸 고려하고 나의 투자수익률 4% 에 원금 까먹는거 고려하면 첫해 필요금액 두배정도면 되려나?

In [34]:
r = 0.04 # 년 수익률
N = 7144/r
print(N)
print(N*2)

178600.0
357200.0

### 최종결론
 - 두배 즉 357200 이면 충분하고, 남은 돈으로 집까지 마련하면 된다

In [35]:
s=7144 # 첫해 쓸돈
r=0.04 # 나의 수익률
N= 357200 # 은퇴후 총 자산
for idx,i in enumerate(range(61)):
  anual_income = N*r 
  s = s*(1+0.03)
  N = N + anual_income - s 
  print(idx+41,'income-cotst: {0}, total: {1} '.format(anual_income - s,N))

41 income-cotst: 6929.679999999999, total: 364129.68
42 income-cotst: 6986.1176, total: 371115.7976
43 income-cotst: 7038.190215999999, total: 378153.987816
44 income-cotst: 7085.524574, total: 385239.51239
45 income-cotst: 7127.726508800799, total: 392367.2388988008
46 income-cotst: 7164.3799495488565, total: 399531.61884834967
47 income-cotst: 7195.045859338716, total: 406726.6647076884
48 income-cotst: 7219.261126874406, total: 413945.9258345628
49 income-cotst: 7236.537408106387, total: 421182.4632426692
50 income-cotst: 7246.359915672359, total: 428428.8231583416
51 income-cotst: 7248.186153878221, total: 435677.0093122198
52 income-cotst: 7241.4445968596865, total: 442918.4539090795
53 income-cotst: 7225.533307465201, total: 450143.9872165447
54 income-cotst: 7199.818494296871, total: 457343.80571084155
55 income-cotst: 7163.633004237798, total: 464507.43871507933
56 income-cotst: 7116.274747681435, total: 471623.71346276073
57 income-cotst: 7057.005053561037, total: 478680.71851632174
58 income-cotst: 6985.0469511549945, total: 485665.7654674767
59 income-cotst: 6899.583375516253, total: 492565.3488429929
60 income-cotst: 6799.755293241418, total: 499365.1041362343
61 income-cotst: 6684.659745156729, total: 506049.7638813911
62 income-cotst: 6553.347802354219, total: 512603.1116837453
63 income-cotst: 6404.822431861343, total: 519007.93411560665
64 income-cotst: 6238.036268071142, total: 525245.9703836779
65 income-cotst: 6051.889285897396, total: 531297.8596695752
66 income-cotst: 5845.2263714498, total: 537143.086041025
67 income-cotst: 5616.834785847794, total: 542759.9208268728
68 income-cotst: 5365.441517607909, total: 548125.3623444807
69 income-cotst: 5089.710518848216, total: 553215.072863329
70 income-cotst: 4788.239820354218, total: 558003.3126836831
71 income-cotst: 4459.558520343013, total: 562462.871204026
72 income-cotst: 4102.123641546601, total: 566564.9948455726
73 income-cotst: 3714.3168510100295, total: 570279.3116965826
74 income-cotst: 3294.441036766042, total: 573573.7527333486
75 income-cotst: 2840.7167353037657, total: 576414.4694686524
76 income-cotst: 2351.2784034950128, total: 578765.7478721474
77 income-cotst: 1824.170528377279, total: 580589.9184005246
78 income-cotst: 1257.3435679171125, total: 581847.2619684418
79 income-cotst: 648.64971559068, total: 582495.9116840324
80 income-cotst: -4.161518680106383, total: 582491.7501653524
81 income-cotst: -703.4479190085513, total: 581788.3022463438
82 income-cotst: -1451.6793735375722, total: 580336.6228728063
83 income-cotst: -2251.4428923808155, total: 578085.1799804254
84 income-cotst: -3105.4478422948414, total: 574979.7321381306
85 income-cotst: -4016.5314072319925, total: 570963.2007308987
86 income-cotst: -4987.664284303988, total: 565975.5364465946
87 income-cotst: -6021.956625082348, total: 559953.5798215122
88 income-cotst: -7122.664232574029, total: 552830.9155889383
89 income-cotst: -8293.195024640023, total: 544537.7205642982
90 income-cotst: -9537.115775071554, total: 535000.6047892267
91 income-cotst: -10858.159144003723, total: 524142.44564522296
92 income-cotst: -12260.231009831059, total: 511882.21463539195
93 income-cotst: -13747.418115293498, total: 498134.79652009846
94 income-cotst: -15323.996040926511, total: 482810.800479172
95 income-cotst: -16994.437519615483, total: 465816.3629595565
96 income-cotst: -18763.421106563575, total: 447052.941852993
97 income-cotst: -20635.840219574493, total: 426417.10163341847
98 income-cotst: -22616.8125651683, total: 403800.28906825016
99 income-cotst: -24711.689966690185, total: 379088.59910155996
100 income-cotst: -26926.068611240396, total: 352162.5304903196
101 income-cotst: -29265.799732949097, total: 322896.7307573705

### 번외편: 40세 부터 100세까지 누적 필요금액 계산

In [ ]:
sum = 0
for idx,i in enumerate(range(61)):
  if idx==0:
    sum_ =start_year
  else:
    start_year = start_year*(1.03)
    sum_ += start_year 
  print(idx+40,start_year,sum_)

40 7144.259472593354 7144.259472593354
41 7358.587256771155 14502.846729364508
42 7579.34487447429 22082.191603838797
43 7806.7252207085185 29888.916824547316
44 8040.926977329775 37929.84380187709
45 8282.154786649668 46211.99858852676
46 8530.619430249159 54742.61801877592
47 8786.538013156634 63529.15603193255
48 9050.134153551333 72579.29018548389
49 9321.638178157873 81900.92836364175
50 9601.287323502609 91502.21568714436
51 9889.325943207688 101391.54163035205
52 10186.00572150392 111577.54735185596
53 10491.585893149038 122069.133245005
54 10806.333469943509 132875.4667149485
55 11130.523474041815 144005.9901889903
56 11464.43917826307 155470.42936725338
57 11808.372353610963 167278.80172086434
58 12162.623524219292 179441.42524508364
59 12527.502229945872 191968.92747502952
60 12903.327296844249 204872.25477187376
61 13290.427115749577 218162.68188762333
62 13689.139929222065 231851.8218168454
63 14099.814127098727 245951.63594394413
64 14522.80855091169 260474.44449485582
65 14958.492807439041 275432.9373022949
66 15407.247591662213 290840.1848939571
67 15869.46501941208 306709.6499133692
68 16345.548969994443 323055.1988833636
69 16835.915439094275 339891.1143224579
70 17340.992902267102 357232.107224725
71 17861.222689335114 375093.32991406013
72 18397.05937001517 393490.3892840753
73 18948.971151115624 412439.3604351909
74 19517.440285649092 431956.80072084
75 20102.963494218566 452059.76421505853
76 20706.052399045122 472765.8166141037
77 21327.233971016478 494093.05058512016
78 21967.050990146974 516060.10157526715
79 22626.062519851384 538686.1640951185
80 23304.844395446926 561991.0084905655
81 24003.989727310334 585994.9982178758
82 24724.109419129643 610719.1076370055
83 25465.832701703534 636184.940338709
84 26229.80768275464 662414.7480214636
85 27016.70191323728 689431.449934701
86 27827.2029706344 717258.6529053354
87 28662.01905975343 745920.6719650888
88 29521.879631546035 775442.5515966348
89 30407.536020492418 805850.0876171272
90 31319.762101107193 837169.8497182344
91 32259.35496414041 869429.2046823748
92 33227.13561306462 902656.3402954395
93 34223.949681456565 936880.289976896
94 35250.66817190026 972130.9581487962
95 36308.188217057264 1008439.1463658535
96 37397.433863568986 1045836.5802294224
97 38519.35687947606 1084355.9371088985
98 39674.93758586034 1124030.8746947588
99 40865.18571343615 1164896.060408195
100 42091.141284839236 1206987.2016930343